!!! 5
%html
  %head
    %title Twilio Gateway Console

  %body
    %h2 Call log
    %table
      - @calls.each do |call|
        %tr
          %td= call['from']
          %td
            %a{:href => call['url']} Listen

    %h2 SMS log
    %table
      - @msgs.each do |msg|
        %tr
          %td= msg['outgoing'] ? '&larr;' : '&rarr;'
          %td= msg['with']
          %td= msg['text']

    %h2 Send SMS
    %form{:action => '/sms/send', :method => 'POST'}
      %select{:name => 'to'}
        - @senders.each do |sender|
          %option= sender
      %input{:type => 'text', :name => 'text'}
      %input{:type => 'submit', :value => 'Send'}
